<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watched shows</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">        <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <h1>Completed Shows</h1>
    <ul>
    <% allWatchedShows.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.watched === true ? 'watched' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has watched <%= countWatched %> entire shows so far.</h2>

    <!-- buttons -->
    <%- include('partials/buttonsFinished.ejs') %>

    

    <script src="js/main.js"></script>
</body>
</html>